version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: benchmark_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    
    command: [ "postgres", "-c", "max_connections=1000" ]
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - benchmark-net

  efcore-app:
    build:
      context: ../src/EfCoreApp
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - CONNECTION_STRING=Host=postgres;Database=benchmark_db;Username=postgres;Password=password;Port=5432;Maximum Pool Size=50;Connection Lifetime=300;Timeout=30;Connection Pruning Interval=15
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: '640M'
        reservations:
          cpus: '0.5'
          memory: '320M'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - benchmark-net
  
  rawsql-app:
    build:
      context: ../src/RawSqlApp
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - CONNECTION_STRING=Host=postgres;Database=benchmark_db;Username=postgres;Password=password;Port=5432;Maximum Pool Size=50;Connection Lifetime=300;Timeout=30;Connection Pruning Interval=15
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: '640M'
        reservations:
          cpus: '0.5'
          memory: '320M'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - benchmark-net

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    command:
      - '--web.enable-remote-write-receiver'
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - benchmark-net
  
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
    depends_on:
      - prometheus
    networks:
      - benchmark-net
  
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    privileged: true
    networks:
      - benchmark-net

volumes:
  postgres_data:

networks:
  benchmark-net: