[*.cs]
dotnet_diagnostic.CA1502.severity = error

dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1052.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1707.severity = none

dotnet_diagnostic.CA1848.severity = none

dotnet_diagnostic.CA2007.severity = none

